/BinarySearch.class
/CheckAB.class
/CheckPalindrome.class
/CountZeros.class
/Geometric_sum.class
/MergeSort.class
/Multiplication.class
/PairStar.class
/Staircase.class
/StringToInteger.class
/TowerOfHanoi.class
/sumOfNum.class
