/CheckNoInArray.class
/Factorial.class
/FibonacciSeries.class
/FirstIndexInArray.class
/LastIndexInArray2.class
/NumberOfDigits.class
/SumNnatual.class
/SumOfArray.class
/SumOfArray2.class
/arrayIsSortedOrNot.class
/arrayIsSortedorNot2.class
/postDecrement.class
/powerFunction.class
